/* Importação de fontes */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

/* Estilo do corpo */
body {
    background-color: #000000; 
    overflow: hidden; /* Ocultar overflow */
    color: #ffffff; 
}

/* Estilo do título (h1) */
h1 {
    color: #3b0850; 
    font-family: 'Great Vibes', cursive; /* Aplicar Great Vibes */
    font-size: 48px; /* Aumentar o tamanho da fonte */
    text-shadow: 1px 1px 2px rgba(206, 17, 165, 0.5); /* Sombra do texto */
    transform: skewX(15deg); /* Inclinação leve */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* Sombra externa */
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.596); /* Sombra interna */
}

/* Estilo do vídeo */
video {
    width: 100%; 
    height: 100%; 
    object-fit: contain; 
}

/* Estilo do main */
main::after {
    content: "";
    position: fixed; 
    top: 0; 
    left: 0; 
    min-height: 100vh; 
    width: 80vw; 
    background: linear-gradient(-233deg, #000 40%, rgba(0, 0, 0, 0) 65%) no-repeat; /* Gradiente de fundo */
}

/* Estilo da classe personagem dentro do main */
main .personagem {
    display: none;
    height: 100vh;
}

/* Exibir a classe personagem quando estiver selecionado */
main .personagem.selecionado {
    display: block;
}

/* Estilo da imagem dentro da classe personagem */
main .personagem .imagem {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Estilo da classe conteudo */
.conteudo {
    position: absolute;
    top: 0;
    left: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    max-width: 380px;
    z-index: 1;
}

/* Estilo da classe nome-personagem dentro de conteudo */
.conteudo .nome-personagem {
    color: #ffffff;
    font-size: 48px;
    font-family: "Secular One";
    font-weight: 400;
    margin-bottom: 20px;
}

/* Estilo da classe descricao dentro de conteudo */
.conteudo .descricao {
    color: #ffffff;
    font-family: "Rubik";
    line-height: 24px;
}
p {  color: #ffffff;
    font-family: "Rubik";
    line-height: 24px;
 }

/* Estilizando todos os links dentro do parágrafo */
p a {
    color: #eb11ff; /* Cor do texto */
    text-decoration: none; /* Remove o sublinhado */
    font-weight: bold; /* Deixa o texto em negrito */
    transition: color 0.3s ease; /* Animação para a mudança de cor */
}

/* Estilo ao passar o mouse */
p a:hover {
    color: #ff0000; /* Cor ao passar o mouse */
    text-decoration: underline; /* Sublinhado ao passar o mouse */
}

/* Estilo da classe botoes */
.botoes {
    position: fixed; /* Posição fixa */
    top: 0; 
    right: 0; 
    display: flex; /* Exibição flexível */
    flex-direction: column; /* Direção da flexbox */
    min-height: 100vh; 
    width: 155px; 
    justify-content: center; /* Centralizar conteúdo */
    align-items: center; /* Alinhar itens ao centro */
    gap: 10px; /* Espaçamento entre itens */
    background-color: rgba(0, 0, 0, 0.3); /* Cor de fundo */
}

/* Estilo dos botões */
.botoes .botao {
    width: 80px; 
    height: 80px;
    border-radius: 50%; /* Bordas arredondadas */
    background: #000000; 
    cursor: pointer; /* Cursor de ponteiro */
}

.botoes .botao img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; /* A imagem será cortada para caber no botão sem distorção */
    border-radius: 50%; /* Mantém o formato circular */
}

/* Estilo do botão selecionado */
.botoes .botao.selecionado {
    transform: scale(1.2); /* Aumentar escala */
    box-shadow: 0 0 10px #D9D9D9; /* Sombra */
}


